#mobile {
  background-color: white;
  padding: 115px 135px 285px 135px;
  display: flex;
  justify-content: space-between;

  .discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .apps {
    display: flex;
    gap: 25px;
  }
}
@media (max-width: 850px) {
  #mobile {
    padding: 20px 20px;

    .discount {
      gap: 20px;
    }

    .apps {
      justify-content: space-between;
    }
    .mobile-app {
      display: none;
    }
  }
}
