@import "./variables";

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 243px;

  .headline {
    color: white;
    font-family: $main-font;
    font-size: 25px;
    font-weight: 700;
    line-height: 37.5px; /* 150% */
    text-transform: uppercase;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .footer-logo {
      font-family: $secondary-font;
      font-size: 25px;
      font-weight: 700;
    }
  }

  a {
    color: white;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .nav-link {
      font-family: $main-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
  }

  .social-media {
    display: flex;
    gap: 30px;
  }

  .text {
    color: white;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .subscription {
    display: flex;
    align-items: center;
  }
  .send-button {
    width: 50px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-left: -54px;
    background-color: $accent-color;

    img {
      margin: 11px 14px;
    }
  }

  #email {
    height: 50px;
    width: 370px;
    border-radius: 4px;

    &::-webkit-input-placeholder {
      color: #6c6c72;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding-left: 18px;
    }

    &::-moz-placeholder {
      color: #6c6c72;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding-left: 18px;
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 18px 0 18px 0;
}

@media (max-width: 850px) {
  footer {
    padding: 20px 20px;
    gap: 20px;

    .contacts {
      width: 50%;
      flex-direction: column;
      padding: 20px 0;
      gap: 10px;
      bottom: 0;

      img {
        height: 50px;
        width: 50px;
      }

      a {
        font-size: 20px;
        line-height: 25px;
      }

      .hr {
        display: none;
      }
    }

    .footer-container {
      gap: 20px;
      flex-direction: column;

      .footer-logo {
        align-self: start;
      }
    }

    .social-media {
      justify-content: space-between;
    }

    .line {
      padding: 0px;
    }

    .nav-link {
      padding-left: 30px;
      align-self: flex-start;
    }
  }
}
