@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fffbf3;
  color: $normal-color;
  font-family: $main-font;
  width: 100%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto
}

section {
  padding: 0 135px;
}

nav {
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  width: 700px;
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
}

footer {
  height: 100%;
  background-color: #232233;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 135px;
  justify-content: space-between;
}

a {
  color: $normal-color;
  text-decoration: none;
}

h1 {
  color: $normal-color;
  font-family: $main-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #535353;
  font-family: $main-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #667085;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

button {
  border-radius: 6px;
  background: #ffefc8;
  color: #ef9737;
  display: inline-flex;
  padding: 10px 18px;
  align-self: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  border-width: 0;
}

.active-link {
  color: $accent-color;
  padding-bottom: 5px;
  border-bottom: 3px solid $accent-color;
}

.logo {
  color: $normal-color;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 700;
}

.accent {
  color: $accent-color;
  display: inline-block;
}

.line {
  padding-top: 40px;
}

.vertical-line {
  border-left: 1px solid white;
  height: 20px;
}

.text-center {
  text-align: center;
}

@media (min-width: 850px) {
  .mobile-only {
    display: none;
  }
}


@media (max-width: 850px) {
  body {
    text-align: center;
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }

    br {
      display: none;
    }

    .copyright {
      font-size: 12px;
      padding: 0;
    }

    .computer-only {
      display: none !important;
    }

    .unvisible {
      display: none;
    }
  }
  header {
    padding: 20px 20px;

    nav {
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      position: absolute;
      right: 10px;
      gap: 20px;
      top: 70px;
      width: 70%;
      border-radius: 20px;
      border: 1px solid $normal-color;
      z-index: 1;

      & > :first-child {
        margin-top: 10px;
      }

      & > :last-child {
        margin-bottom: 10px;
      }

      a {
        padding-left: 25%;
      }
    }
  }

  #main {
    padding: 20px 20px;
    background-image: url("./assets/main-background.png");
    background-repeat: no-repeat;
    background-position: right;

    .main-img {
      display: none;
    }

    .main-info {
      gap: 20px;
      align-items: center;
    }

    .get-started {
      font-size: 15px;
      height: 40px;
      border: 1px solid $normal-color;
    }
    .start {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    #more-info {
      background-color: white;
      border-radius: 10px;
    }

    p {
      color: $normal-color;
    }

    .accent {
      -webkit-text-stroke: 1px black;
    }
  }

  #how-it-works {
    padding: 20px 20px;
    gap: 20px;

    h2 {
      margin-top: 0;
    }

    .steps-container {
      gap: 30px;
      flex-direction: column;

      .step-item:nth-child(n) {
        margin: 0;
      }
    }
  }

  #dishes {
    margin: 0;
    padding: 20px 20px;
    gap: 20px;

    .cards-container {
      grid-template-columns: repeat(2, 45%);
      row-gap: 15px;

      .card-item {
        width: 100%;
        padding: 5px;
      }
    }

    .pagination {
      gap: 15px;
    }
  }

  #target {
    padding: 20px 20px;
    background-image: url("./Pages/HomePage/components/Target/delivery-man.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;

    .target-info {
      gap: 20px;
      background-color: rgba($color: #fffbf3, $alpha: 0.6);
    }
  }

  #mobile {
    padding: 20px 20px;

    .discount {
      gap: 20px;
    }

    .apps {
      justify-content: space-between;
    }
    .mobile-app {
      display: none;
    }
  }

  footer {
    padding: 20px 20px;
    gap: 20px;

    .contacts {
      width: 50%;
      flex-direction: column;
      padding: 20px 0;
      gap: 10px;
      bottom: 0;

      img {
        height: 50px;
        width: 50px;
      }

      a {
        font-size: 20px;
        line-height: 25px;
      }

      .hr {
        display: none;
      }
    }

    .footer-container {
      gap: 20px;
      flex-direction: column;

      .footer-logo {
        align-self: start;
      }
    }

    .social-media {
      justify-content: space-between;
    }

    .line {
      padding: 0px;
    }

    .nav-link {
      padding-left: 30px;
      align-self: flex-start;
    }
  }
}